<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>simple-sso-subsysb</display-name>
	
	<filter>
		<filter-name>LogoutFilter</filter-name>
		<filter-class>com.sheefee.simple.sso.client.filter.LogoutFilter</filter-class>
		<init-param>
			<param-name>logoutUrl</param-name>
			<param-value>http://sheefee.com:8080/logout</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.sheefee.simple.sso.client.filter.LoginFilter</filter-class>
		<init-param>
			<param-name>loginUrl</param-name>
			<param-value>http://sheefee.com:8080</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>LogoutFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:META-INF/springmvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>